:root {
    --bg-color: #1C1B22;
    --text-color: #ffffff;
    --accent-color: #1B1A21;
}

:root.light {
    --bg-color: #ffffff;
    --text-color: black;
}

@font-face {
  font-family: "Dongle";
  src: url("fonts/Dongle-Light.ttf") format("truetype");
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Dongle', sans-serif;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    font-size: 32px;
    
}

button {
    height: 32px;
    padding: auto;
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

input {
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.password-container {
  margin: 0 auto;
  width: max(20%, 512px);
}

.navbar {
    width: min(20%, 200px);
    background-color: var(--accent-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    padding: 10px;
    text-align: left;
    position: fixed;
    top: 0;
    float: left;
    margin: 10px;
    z-index: 1000;
    display: block;
}

