:root {
    --bg-color: #2d2d2d;
    --text-color: #ffffff;
}
@font-face {
  font-family: "Dongle";
  src: url("fonts/Dongle-Light.ttf") format("truetype");
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 32px;
    
}

button {
    height: 32px;
    padding: auto;
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
